form {
  color: #00000092;
  font-weight: 500;
  gap: 1rem;
  max-width: 45rem;
  width: 90%;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 5px;
  border: #000000 1px solid;
  background-color: #ffffffba;
  padding: 2rem 1rem;

  margin-bottom: 3rem;

  @include min-992 {
    margin-left: 5rem;
  }

  input {
    font-size: 1.25rem;
    width: 100%;
    border: solid 1px #0000007c;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  textarea {
    min-height: 9rem;
    max-height: 14rem;
    width: 100%;
    resize: none;
  }

  button {
    color: white;
    background-color: #275f2d;
    margin-top: 1.5rem;
    margin-inline: auto;
    font-size: 1.25rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.form-first-part,
.form-second-part {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 1rem;
  margin: auto;
}

.form-names,
.form-coordonates {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  @include min-768 {
    flex-direction: row;
  }
}

.field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .error-message {
    display: none;
    font-size: 1rem;
    padding: 0.5rem 0.25rem;
    border: 1px solid var(--error-border-color);
    border-radius: 0.25rem;
    color: var(--error-color);
    background-color: var(--error-background-color);

    &:not(.hidden) {
      display: block;
    }
  }
}

.sendEmail {
  color: #000000c9;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
  padding-bottom: 2.5rem;

  @include min-992 {
    padding-left: 8rem;
    justify-content: flex-start;
    flex-direction: row;
  }

  a {
    padding: 0.25rem;
  }
}

#response-form {
  margin: auto;

  &.hidden {
    display: none;
  }
}
